[submodule "third-party/linux"]
	path = third-party/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
	branch = master
[submodule "third-party/scripts/python/modules/sharedlib"]
	path = third-party/scripts/python/modules/sharedlib
	url = https://github.com/skymage23/sharedlib.git
